/*
=========================================
Responsive Breakpoint
=========================================
*/
@media (max-width: 1599px) {

	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/

}

@media (max-width: 1399px) {

	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	Back to top Btn
	===============================
	*/
	#scroll-up-btn {
		width: 4rem;
		height: 4rem;
	}

	#scroll-up-btn img {
		width: 2rem;
		height: 2rem;
	}

}

@media (max-width: 1199px) {

	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/

}

@media (max-width: 991px) {

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	nav .main-menu {
		position: fixed;
		right: -100%;
		top: 0;
		height: 100vh;
		background: var(--color-00);
		width: 50%;
		-webkit-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
		z-index: 9999;
	}

	nav .main-menu ul {
		width: 100%;
	}

	nav .main-menu ul li:not(:last-child) {
		margin-right: 0;
		margin-bottom: 2rem;
	}

	nav .open-menu {
		right: 0;
		-webkit-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}


	nav .main-menu ul li a {
		color: var(--secondary-color);
	}

	nav .main-menu ul li a::after {
		background: var(--secondary-color);
	}

	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	Back to top Btn
	===============================
	*/
	#scroll-up-btn {
		width: 3.5rem;
		height: 3.5rem;
	}

	#scroll-up-btn img {
		width: 1.8rem;
		height: 1.8rem;
	}

}

@media (max-width: 767px) {

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	nav .main-menu {
		width: 60%;
	}

	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/

}

@media (max-width: 575px) {

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	nav .main-menu {
		width: 80%;
	}

	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/


	/* 
	===============================
	 Section Responsive
	===============================
	*/

}
